.container {
  margin-top: 50px;
}
.active {
  border: 3px black solid;
}
span {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
.preview_box {
  border: 1px red solid;
  color: red;
  padding: 5px;
}